<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %} - Uniteto</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <main>
    <h1>Unit Converter</h1>
    <nav>
      <ul class="links">
        <a href="/length">
          <li class="page-link">Length</li>
        </a>
        <a href="/weight">
          <li class="page-link">Weight</li>
        </a>
        <a href="/temperature">
          <li class="page-link">Temperature</li>
        </a>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </main>
</body>

</html>
