{% extends 'layout.html' %}

{% block title %} Temperature {% endblock %}

{% block content %}

<h2>Temperature Converter</h2>

<form action="/temperature" method="POST">
    <label for="temperature">Enter the temperature</label>
    <input type="number" name="temperature" required>

    <label for="convert-from">Convert from</label>
    <select name="convert-from" id="convert-from" required>
        <option value="">--Choose a unit--</option>
        <option value="fahrenheit">Fahrenheit</option>
        <option value="celsius">Celsius</option>
        <option value="kelvin">Kelvin</option>
    </select>

    <label for="convert-to">Convert to</label>
    <select name="convert-to" id="convert-to" required>
        <option value="">--Choose a unit--</option>
        <option value="fahrenheit">Fahrenheit</option>
        <option value="celsius">Celsius</option>
        <option value="kelvin">Kelvin</option>
    </select>

    <button type="submit">Convert :D</button>
</form>

{% if result is not none %}
<p>Result: {{ result }}&deg;</p>
{% endif %}

{% endblock %}
